/* Style header */

header {
    background-color: #e7f4ff;
    height: 100vh;
}

header .short-bio {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 80%;
    text-align: right;
    font-size: 3vh;
}

header .title {
    position: absolute;
    top: 20%;
    left: 5%;
}

header .title h1 {
    font-size: 4vh;
    margin: 0;
}

header .title h2 {
    font-size: 4vh;
    margin: 0;
}


/* Remove body's margins */

body {
    overflow: auto;
    margin: 0;
}